<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-card></app-card>

</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-area></app-area>

</div>
<!-- <div fxLayout="row" fxLayoutAling="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-card label="users" total="18k" percentage="50"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="users" total="22k" percentage="32"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="users" total="12k" percentage="72"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="users" total="6k" percentage="23"></app-card>
    </mat-card>
</div> -->

<br>

<mat-divider></mat-divider>

<br>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>