a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.ul-budge {
    list-style: none;
    position: absolute;
    left: 0;
    top: 60px;
    margin: 0;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    //padding-left: 50px;
    //display: none;
}

.box {
    position: relative;
    border-radius: 30px;
    //padding-left: 50px;
}

.text {
    color: #2e7d32;
    font-size: medium;
}

// .notificatios {
//     width: 60px;
//     height: 60px;
//     border-radius: 30px;
//     box-sizing: border-box;
//     text-align: center;
// }
.num {
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}